---
interface Props {
  title?: string | undefined
  description?: string | undefined
  author?: string | undefined
  og: string
}


const { title, description, author, og } = Astro.props
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="robots" content="index, follow" />
  <meta
    name="googlebot"
    content="index, follow, max-video-preview:-1, max-image-preview:large, max-snippet:-1"
  />
  <meta name="title" content="Corte y Grabado Láser | Regalos Personalizados y Adornos de MDF" />
  <meta name="description" content="Ofrecemos servicios de corte y grabado láser en MDF, termo, y otros materiales. Personaliza tus regalos y adornos con nuestra tecnología de grabado láser de alta precisión." />
  <meta name="author" content="Pichones Corp" />
  <meta name="keywords" content="cacheshoop, cache, shop, corte, corte láser, grabado, grabado láser, mdf, grabado en termo, termo, regalos personalizados, adornos" />
  <meta name="generator" content={Astro.generator} />
  <!-- Favicon -->
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <!-- Open Graph Meta Tags -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://cacheshoop.com" />
  <meta property="og:title" content="Corte y Grabado Láser | Regalos Personalizados y Adornos de MDF" />
  <meta property="og:description" content="Ofrecemos servicios de corte y grabado láser en MDF, termo, y otros materiales. Personaliza tus regalos y adornos con nuestra tecnología de grabado láser de alta precisión." />
  <meta property="og:image" content="/logo.png" />

  
  <!-- Preload Google Fonts -->
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  </noscript>
  
  <!-- Preload and Load Font Awesome Asynchronously -->
  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  </noscript>

  <!-- Incluye el resto del CSS de manera diferida -->
  <link rel="stylesheet" href="/global.css">
  

  <title>{title}</title>  
  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
  "@type": "Store",
  "name": "Cacheshoop",
  "url": "https://www.cacheshoop.com/",
  "logo": "https://cacheshoop.com/logo.png", 
  "description": "Galería de artículos personalizados con grabado y corte láser. Encuentra productos únicos y personalizados para todas las ocasiones.",
  "sameAs": [
    "https://www.instagram.com/cacheshoop"
  ],
   "currenciesAccepted": "MXN",
  "paymentAccepted": "Credit Card, PayPal",
  "priceRange": "$$",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Roca 61",
    "addressLocality": "Zapopan",
    "addressRegion": "JAL",
    "postalCode": "45186",
    "addressCountry": "MX"
  },
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "+52-33-1844-4445",
    "contactType": "Customer Service",
    "areaServed": "MX",
    "availableLanguage": ["Spanish", "English"]
  },
  "offers": [
    {
      "@type": "Offer",
      "url": "https://cacheshoop.com",
      "priceCurrency": "MXN",
      "price": "Desde 49.99",
      "itemCondition": "https://schema.org/NewCondition",
      "availability": "https://schema.org/InStock",
      "seller": {
        "@type": "Organization",
        "name": "Cacheshoop"
      },
      "description": "Servicios de corte y grabado láser personalizados bajo demanda. Los precios varían según las especificaciones del trabajo."
    }
  ]
    }
    </script>

	
</head>