---

import BaseHead from '../components/BaseHead.astro';

let title = 'Cacheshoop'
let description =
  'Cacheshoop articulos personalizados y unicos en Servicio de Grabado y Corte láser Online en MDF y Acrilico.'
---

<!doctype html>
<html lang="en">
	 <BaseHead
    title={title}
    description={description}
    author={'PichonesCorp'}
    og={'logo.png'}
  />
	<body class="is-preload">		
		
		<slot />
	</body>
</html>

