---

import BaseHead from '../components/BaseHead.astro';

let title = 'Cacheshoop'
let description =
  'Say hello to Multiverse, a slick, one-page gallery design with a fully functional lightbox.'
---

<!doctype html>
<html lang="en">
	 <BaseHead
    title={title}
    description={description}
    author={'AREA44'}
    og={'logo.png'}
  />
	<body class="is-preload">		
		
		<slot />
	</body>
</html>

